

<% blogs.forEach((blog) => { %>
  <div class="card" style="width: 18rem;">
    <img src="<%=blog.img%>" class="card-img-top" alt="<%=blog.title%>">
    <div class="card-body">
      <h5 class="card-title"><%=blog.title%></h5>
      <p class="card-text"><%=blog.description%></p>
      <a href="#" class="btn btn-primary">Ream More.</a>
    </div>
  </div>
<% }) %>