
<h1 class="my-5">Create Blog Page</h1>

<form action="/" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Blog title</label>
        <input type="text" class="form-control" id="title" placeholder="title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Blog description</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="imageURL" class="form-label">Blog image URL</label>
        <input type="number" class="form-control" id="imageURL" placeholder="imageURL">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>